*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

header {
    position: fixed;
}

.hero_section {
    size-adjust: initial;
    background: white;
    padding: 0 60px;
    color: rgb(85, 87, 76);
}

p {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

span {
    color: rgb(85, 87, 76);
    font-size: 50px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero_wrapper {
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
}

.column_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.column_left h1{
    color: rgb(85, 87, 76);
    font-size: 60px;
    font-family: "Prompt", serif;
    font-weight: 800;
    font-style: normal;
}

.column_left h2{
    color: rgb(85, 87, 76);
    font-size: 32px;
    font-family: "Prompt", serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 20px;
}

.column_left p {
    font-size: 16px;
    font-family: "Prompt", serif;
    line-height: 2.3;
    color: rgb(39, 46, 8);
}

.column_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: row;
    font-family: "Open Sans";
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    padding: 1rem 2rem;
}

.nav{    
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.nav-links {
    font-family: "Open Sans";
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 700;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f0a500;
}

.nav-links b {
    color: white;
}

.hero_img {
    max-width: 80%;
}

a:link {
    color: rgb(90, 120, 90);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(101, 161, 93);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(110, 23, 23);
    font-style: italic;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(1, 45, 9);
    background-color: transparent;
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    background-color: #747a7e;
}

.footer-container a {
    color: #f5f6f7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer-container a:hover {
    color: #363636;
}

.footer-container ul {
    display: flex;
    padding: 0;
    gap: 24px;
    list-style-type: none;
}

.copyright {
    padding: 4px 0;
    text-align: center;
    color: #737574;
    background-color: #f5f6f7;
}

.bi-bluesky::before {
    content: "";
    -webkit-mask: url("../imgs/bsky.svg") no-repeat 50% 50%;
    mask: url("../imgs/bsky.svg") no-repeat 50% 50%;
    height: 16px;
    width: 16px;
}