*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero_section {
    background: rgb(232, 228, 161);
    padding: 0 60px;
    color:aliceblue;
}

span {
    color:rgb(255, 254, 254);
    font-size: 50px;
}

.hero_wrapper {
    background: rgb(232, 228, 161);
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 820px;
    }

.column_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.column_left h1{
    color: rgb(85, 87, 76);
    font-size: 60px;

}


.column_left p {
    font-size: 16px;
    line-height: 2.3;
    color: rgb(85, 87, 76);
}

.column_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_img {
    max-width: 80%;
}

@media screen and (max-width: 1100px) {
    .hero_section
}

a:link {
    color: rgb(10, 81, 10);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(101, 161, 93);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(110, 23, 23);
    font-style: italic;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(1, 45, 9);
    background-color: transparent;
    text-decoration: underline;
  }