/* For Lansing Draft Map */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Wix+Madefor+Display:wght@400..800&display=swap');

h2 {
    font-family: "Kaushan Script", serif;
    font-weight: 450;
    font-style: normal;
}

p {
    font-family: "Wix Madefor Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

body {
    max-width: fit-content;
    max-height: fit-content;

}

#intro1 {
    z-index: 1;
}


#map {
    z-index: -1;
    height: 60%;
    max-width: 75%;

}

#end {
    z-index: 1;
}

