/* Comments for Lansing */

#exterior {
    max-width: fit-content;
    max-height: fit-content;

}

#intro1 {
    height: 20%;
    max-width: 100%;
    vertical-align: top;
}


#map {
    height: 60%;
    max-width: 75%;
    vertical-align: middle;
    align-items: bottom;
}

#end {
    width: 100%;
    max-height: 20%;
    vertical-align: bottom;
}

