
.open-sans-ul {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {

    font-family: "Prompt", serif;
    font-weight: 800;
    font-style: normal;
  }

h2 {

    font-family: "Prompt", serif;
    font-weight: 500;
    font-style: normal;
  }

  h3 {

    font-family: "Prompt", serif;
    font-weight: 300;
    font-style: italic;
  }

  p {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  