
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: va(--black-color);
    box-shadow: 0 2px 16px hsla(220,32%, .3);
}   

h1 {
    .agu-display-<uniquifier> {
        font-family: "Agu Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "MORF" 0;
      }
}

body {
    .sedan-regular {
        font-family: "Sedan", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .sedan-regular-italic {
        font-family: "Sedan", serif;
        font-weight: 400;
        font-style: italic;
      }
}

.container{
    max-width: 1000px;

}

ul {

}